* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.active {
    display: block;
}

.slides {
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: end;
    position: relative;
}

.next, .prev {
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    border-radius: 50%;
    background-color: gray;
    padding: 0.5rem;
}

.next {
    left: 95%;
}
.prev {
    right: 95%;
}


h2, h5{
    display: none;
}


.title, .text {
    max-width: 800px;
    margin: 1rem auto;
}

.thumbnails {
    width: 100px;
    margin-left: 1rem;
    position: relative;
}
.thumbnails div {
    width: 100%;
    height: 100px;
    object-fit: contain;
}


.thumbnails img {
    display: block;
    width: 100%;
    height: 100px;
    opacity: 0.2;
}

img.active-thumb {
    opacity: 1;
    border: 1px solid black;

}
